<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Main</title>
</head>

<body>
  <div class="container">
    <header>
      <h2>Messenger</h2>
    </header>
    <nav class="nav">
      <a class='update-btn' href="userForm.html">Update</a>
    </nav>
    <div class="main">
      <aside class="aside">
        <div class="info">Chat-Rooms</div>
        <div class='create-room-btn'><a href="roomForm.html">Create a chat</a></div>
        <hr>
      </aside>
      <div class="main-screen ">

      </div>
    </div>
  </div>
  <script src="../static/js/index.js"></script>

</body>

</html>