<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Room</title>
</head>

<body>
    <div class="container">
        <header>
            <h2>My ChatRoom</h2>
        </header>
        <nav class="nav">

        </nav>
        <div class="main">
            <aside class="aside">
                <button class='delete-room-btn'>Delete the chat</button>
                <hr>
                <div class="info">ChatUsers</div>
            </aside>
            <div class="main-screen ">
                <div id="message-output"></div>
                <input class='message-field' placeholder="Print here..." name="name" type=" text">
                <input class='message-btn' type="submit" value="Send">
            </div>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>