<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Room Creation</title>
</head>

<body>
    <div class="container">
        <header>
            <h2>Create a chat</h2>
        </header>
        <nav class="nav">
        </nav>
        <div class="main">
            <form id='roomForm' action="" method="">
                <label for="">Name of ChatRoom<input name="name" type="text"></label>
                <label for=""><input class='submit-btn' type="submit" value="Creation"></label>
            </form>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>